
.list-brands{
    .img{
        padding-right: 60px;
    }
    p.date{
        color: #949599;
        font-size: 10pt;
    }
    .sum {
        font-size: 0.95rem;
    }
}

// Responsive

@media only screen and (max-width: 575px){
    .list-brands{
        .img{
            width: 100%;
            text-align: center;
            padding-right: 0px;
            img{
                width: 180px !important;
            }
        }
        .detail{
            width: 100%;
            border-bottom: 1px #d8c6c6 solid;
            padding-bottom: 12px;
        }
    }
}