.list-achiv {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    img{
        height: 300px;
        object-fit: cover;
        transform: none;
        transition: transform .3s linear;
    }
    &:hover{
        img{
            transform: scale(1.05);
        }
    }
    .overlay-mini{
        position: absolute;
        width: 100%;
        bottom: 0px;
        background: rgba(229, 229, 229, 0.77);
        padding: 10px;
        h6{
            text-align: center;
            font-size: 0.97rem;
        }
    }
    .date {
        background: #005DA0;
        position: absolute;
        top: 0px;
        text-align: center;
        color: white;
        padding: 10px 8px;
    }
}