.contact-us{
    .form-contact{
        .form-control{
            border: 1px solid #00569F;
            border-radius: 0px;
        }
        p{
            font-size: 0.95rem;
        }
        .button-submit{
            .blue-btn{
                padding: 6px 30px;
                letter-spacing: 2px;
            }
        }
    }
}