@media only screen and (min-width: 992px){
    .presentation{
        .file-row2{
            margin-left: -1.5rem;
            margin-right: -1.5rem;
        }
    }
}


@media only screen and (max-width: 575px){
    .presentation{
        .re-fol{
            padding: 18px 15px;
        }
    }
}