.share-info{
    table{
        th, td{
            border: 3px solid white;
            padding: 5px 8px;
        }
        th{
            font-size: 0.95rem;
            width: 50%;
        }
        td{
            background: #f2f2f2;
        }
    }
}
