
@media only screen and (min-width: 992px){
    .financial{
        .file-row1{
            margin-left: -1.5rem;
            margin-right: -1.5rem;
            .pad{
                padding: 1.2rem 1.5rem;
            }
        }
    }
}

@media only screen and (min-width: 1200px){
    .financial{
        .file-row1{
            margin-left: -2.3rem;
            margin-right: -2.3rem;
            .pad{
                padding: 1.2rem 2.3rem;
            }
        }
    }
}